.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: .2rem;
    grid-auto-flow: row dense;

    & > *:nth-child(4n) {
        grid-column: span 2;
        grid-row: span 2;
    }

    & > div:first-child {
        grid-column: span 3;
        grid-row: span 3;
    }

    &.tag > div:first-child,
    &.showcase > div:first-child {
        grid-column: span 2;
        grid-row: span 2;
    }
}

.grid-item-mosaic {
    position: relative;
    overflow: hidden;

    & img {
        width: 100%;
        height: auto;
        display: block;
    }

    & h2 {
        position: relative;
        z-index: 2; /* au-dessus de la vidéo */
        padding: 1em 5em 1em 1em;
        font-size: 1em;
    }

    & a {
        cursor: inherit !important;
    }

    & span {
        position: absolute;
        right: 1.5em;
        bottom: 1.3em;
        display: block;
        padding: .3em .5em;
        border-radius: 4px;
        z-index: 2; /* au-dessus de la vidéo */
        font-size: .7em;
        opacity: 0;

        &.music {
            background-color: whitesmoke;
            color: #000;
        }

        &.ads {
            background-color: whitesmoke;
            color: #000;
        }

        &.short {
            background-color: whitesmoke;
            color: #000;
        }
    }

    &:hover span {
        opacity: 1;
        cursor: pointer;
    }

    & .overlay {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        opacity: 0;
        transition: opacity 0.3s ease;

        & video {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            object-fit: cover;
            z-index: 1;
            opacity: 0;
            transition: opacity 1.2s ease;

            &.is-visible {
                opacity: 1;
            }
        }
    }

    &.videos:hover .overlay {
        opacity: 1;
        cursor: url('../img/Icon_PlayFill_18.png') 16 16, auto !important;
    }

    &.link:hover .overlay,
    &.photos:hover {
        opacity: 1;
        cursor: url('../img/cursor-cross-pointer-icon-1881152-512.png') 16 16, auto !important;
    }
}
