.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999 !important;
    overflow: hidden;
    outline: none;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;

    & .backdrop {
        position: fixed;
        top: -1px;
        left: 0;
        width: 100%;
        height: calc(100vh + 1px);
        background: $dark-color;
        will-change: opacity;
    }

    & .content {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 9999;
        overflow: hidden;
        -webkit-box-shadow: 1px 1px 5px $dark-color;
        box-shadow: 1px 1px 5px $dark-color;
    }

    & .body {
        position: relative;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        -webkit-transition: -webkit-transform 0.4s ease;
        transition: -webkit-transform 0.4s ease;
        transition: transform 0.4s ease;
        transition: transform 0.4s ease, -webkit-transform 0.4s ease;
        overflow: hidden;
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        gap: 1rem;

        // & img {
        //     position: relative;
        //     z-index: 1;
        //     width: 90%;
        //     aspect-ratio: 16 / 9;
        // }
    }

    & iframe {
        position: relative;
        width: 80%;
        aspect-ratio: 16 / 9;
        z-index: 1;
    }

    & h2 {
        font-size: 1.8em;
    }

    & h2,
    & p,
    & .share {
        width: 80%;
        text-align: left;
        margin: 0;
        padding: 0;
    }

    & .share li {
        display: inline-block;
    }

    & .close {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 35px;
        height: 35px;
        z-index: 99999;
        cursor: pointer;
        font-size: 2.5rem;
    }

    &.show {
        display: block;
    }

    &.open {
        opacity: 1;
    }

    & .nav {
        position: absolute;
        top: 50%;
        z-index: 100000;
        padding: 0 15px;
        transform: translateY(-50%);
        font-size: 3rem;
        cursor: pointer;
        user-select: none;

        &.prev {
            left: 10px;
        }

        &.next {
            right: 10px;
        }
    }
}
