body {
    background-color: $dark-color;
    color: $light-color;
    font-family: "Sansation", Helvetica, 'Courier Prime', monospace;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

h1 {
    padding-bottom: 2em;
    font-size: 1.6em;
}

h2 {
    padding: 2em 0;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    mix-blend-mode: normal;
}

strong {
    font-weight: bold;
}
