body {
    background-color: #000;
    color: #fff;
    font-family: "Sansation", Helvetica, 'Courier Prime', monospace;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

h1 {
    font-size: 1.6em;
    padding-bottom: 2em;
}

h2 {
    font-size: 1.2em;
    padding: 2em 0;
    text-transform: uppercase;
    font-weight: bold;
}

strong {
    font-weight: bold;
}
