
.grid.tag.l-ile-bleue-noel > *:nth-child(1n) {
    grid-column: span 2;
    grid-row: span 2;
}
.grid.tag.beauty-interrupted > *:nth-child(1n) {
    grid-column: span 2;
    grid-row: span 2;
}
.grid.tag.contours-of-silence > *:nth-child(1n) {
    grid-column: span 2;
    grid-row: span 2;
}
