
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />

<title>SOUPIIR</title>
<meta name="description" content="SOUPIIR is a French creative studio somewhere between a lab, a mirage, and a film set. It blends real and unreal, poetry and code, chaos and precision." />

<link href="/assets/img/favicon.png" rel="icon" />
<link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sansation:wght@400;700&display=swap" rel="stylesheet">

<link href="{{ "assets/css/style.css" | relative_url }}" rel="stylesheet" />
