<header id="header">
    <h1 class="home-title"><a href="/" class="logo">SOUPIIR</a></h1>

    <input type="checkbox" id="toggle" />
    <label for="toggle" class="burger">☰</label>
    <nav class="third-nav">
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="mailto:hello@soupiir.com">Contact</a></li>
            <li><a href="https://www.instagram.com/_soupiir_/" target="_blank"><img src="/assets/img/instagram-50.png" width="20" alt="" /></a></li>
        </ul>
    </nav>
    <label for="toggle" class="close-menu">✕</label>
</header>
