<script src="/assets/js/lightbox.js"></script>
<script>
    window.onload = function() {
        [].forEach.call(document.querySelectorAll('[lightbox]'), function(el) {
            el.lightbox = new Lightbox(el);
        });

        document.querySelectorAll('.grid-item-mosaic').forEach(item => {
            const id = item.getAttribute('data-id');
            const video = item.querySelector('.overlay video');

            const videoUrl = `/assets/videos/${id}.mp4`;
            video.src = videoUrl;

            item.addEventListener('mouseenter', () => {
                video.play();
            });
            item.addEventListener('mouseleave', () => {
                video.pause();
                video.currentTime = 0;
            });
        });
    }
</script>
